
<h1 style="color: rgb(0, 154, 166);">Register For Upcoming 2017 Run Walk Events</h1>
<div class="row">

    <div class="col col-sm-3" data-frid="26036">
        <div class="xxx">
            <div class="faux-table-cell tr-event-search-image">
                <a href="TR?fr_id=26036"><img src="https://media2.charityengine.net/CMS/_templates/863/favicon_transparent.png" border="0"></a>
            </div>
            <div class="faux-table-cell tr-event-search-location">New York, NY</div>
            <div class="faux-table-cell tr-event-search-name">
                <a href="TR?fr_id=26036">New York City 2015</a>
            </div>
            <div class="faux-table-cell tr-event-search-distance"></div>
            <div class="faux-table-cell tr-event-search-date">Oct 4, 2015</div>
            <small>
                The NOCC's Washington, D.C. Metro Chapter invites you to our 15th Annual Run Walk to Break the Silence on Ovarian Cancer®.
            </small>
            <div class="faux-table-cell tr-event-search-buttons">
                <a class="btn fs-secondary-btn btn-sm btn-block" href="TR?fr_id=26036&amp;pg=entry">Register</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-3" data-frid="28195">
        <div class="xxx">
            <div class="faux-table-cell tr-event-search-image">
                <a href="TR?fr_id=28195"><img src="https://media2.charityengine.net/CMS/_templates/863/favicon_transparent.png" border="0"></a>
            </div>
            <div class="faux-table-cell tr-event-search-location">Fort McDowell, AZ</div>
            <div class="faux-table-cell tr-event-search-name">
                <a href="TR?fr_id=28195">Arizona 2017</a>
            </div>
            <div class="faux-table-cell tr-event-search-distance"></div>
            <div class="faux-table-cell tr-event-search-date">Mar 25, 2017</div>
            <small>
                The NOCC's Washington, D.C. Metro Chapter invites you to our 15th Annual Run Walk to Break the Silence on Ovarian Cancer®.
            </small>
            <div class="faux-table-cell tr-event-search-buttons">
                <a class="btn fs-secondary-btn btn-sm btn-block" href="=BIKE_HOM_donate&amp;fr_id=28195">Donate</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-3" data-frid="28791">
        <div class="xxx">
            <div class="faux-table-cell tr-event-search-image">
                <a href="TR?fr_id=28791"><img src="https://media2.charityengine.net/CMS/_templates/863/favicon_transparent.png" border="0"></a>
            </div>
            <div class="faux-table-cell tr-event-search-location">Frisco, TX</div>
            <div class="faux-table-cell tr-event-search-name">
                <a href="TR?fr_id=28791">Sam's Club Round-Up Ride 2017</a>
            </div>
            <div class="faux-table-cell tr-event-search-distance"></div>
            <div class="faux-table-cell tr-event-search-date">May 6, 2017</div>
            <small>
                The NOCC's Washington, D.C. Metro Chapter invites you to our 15th Annual Run Walk to Break the Silence on Ovarian Cancer®.
            </small>
            <div class="faux-table-cell tr-event-search-buttons">
                <a class="btn fs-secondary-btn btn-sm btn-block" href="=BIKE_HOM_donate&amp;fr_id=28791">Donate</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-3" data-frid="28222">
        <div class="xxx">
            <div class="faux-table-cell tr-event-search-image">
                <a href="TR?fr_id=28222"><img src="https://media2.charityengine.net/CMS/_templates/863/favicon_transparent.png" border="0"></a>
            </div>
            <div class="faux-table-cell tr-event-search-location">Oak Bluffs, MA</div>
            <div class="faux-table-cell tr-event-search-name">
                <a href="TR?fr_id=28222">Ride the Vineyard 2017</a>
            </div>
            <div class="faux-table-cell tr-event-search-distance"></div>
            <div class="faux-table-cell tr-event-search-date">May 6, 2017</div>
            <small>
                The NOCC's Washington, D.C. Metro Chapter invites you to our 15th Annual Run Walk to Break the Silence on Ovarian Cancer®.
            </small>
            <div class="faux-table-cell tr-event-search-buttons">
                <a class="btn fs-secondary-btn btn-sm btn-block" href="=BIKE_HOM_donate&amp;fr_id=28222">Donate</a>
            </div>
        </div>
    </div>
    <div class="col col-sm-3" data-frid="28207">
        <div class="xxx">
            <div class="faux-table-cell tr-event-search-image">
                <a href="TR?fr_id=28207"><img src="https://media2.charityengine.net/CMS/_templates/863/favicon_transparent.png" border="0"></a>
            </div>
            <div class="faux-table-cell tr-event-search-location">Polk City, FL</div>
            <div class="faux-table-cell tr-event-search-name">
                <a href="TR?fr_id=28207">The Citrus Tour 2017</a>
            </div>
            <div class="faux-table-cell tr-event-search-distance"></div>
            <div class="faux-table-cell tr-event-search-date">May 6, 2017</div>
            <small>
                The NOCC's Washington, D.C. Metro Chapter invites you to our 15th Annual Run Walk to Break the Silence on Ovarian Cancer®.
            </small>
            <div class="faux-table-cell tr-event-search-buttons">
                <a class="btn fs-secondary-btn btn-sm btn-block" href="=BIKE_HOM_donate&amp;fr_id=28207">Donate</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-3" data-frid="28897">
        <div class="xxx">
            <div class="faux-table-cell tr-event-search-image">
                <a href="TR?fr_id=28897"><img src="https://media2.charityengine.net/CMS/_templates/863/favicon_transparent.png" border="0"></a>
            </div>
            <div class="faux-table-cell tr-event-search-location">West Long Branch, NJ</div>
            <div class="faux-table-cell tr-event-search-name">
                <a href="TR?fr_id=28897">Coast the Coast 2017</a>
            </div>
            <div class="faux-table-cell tr-event-search-distance"></div>
            <div class="faux-table-cell tr-event-search-date">May 20, 2017</div>
            <small>
                The NOCC's Washington, D.C. Metro Chapter invites you to our 15th Annual Run Walk to Break the Silence on Ovarian Cancer®.
            </small>
            <div class="faux-table-cell tr-event-search-buttons">
                <a class="btn fs-secondary-btn btn-sm btn-block" href="=BIKE_HOM_donate&amp;fr_id=28897">Donate</a>
            </div>
        </div>
    </div>

</div>

<style>
    .xxx {
        padding: 10px 10px;
        border: 1px solid rgb(168, 213, 118);
        margin-bottom: 10px;
    }

        .xxx:hover {
            background-color: #f0f8fa;
        }

    .tr-event-search-location {
        background: #99cc66;
        color: #fff;
        padding: 5px 5px 5px 10px;
        margin: 0 -10px 0 -10px;
    }

    .tr-event-search-date {
        font-size: .8rem;
    }
   
</style>
