<h2 style="color: #fff;">Plaid for Dad is a new Father’s Day tradition</h2>
<div style="color:#fff;">
    <p>Plaid for Dad was launched in 2015 to help raise awareness and vital research funds for prostate cancer. It has quickly become a fun and easy way for Canadians to celebrate dad and help the 1 in 7 men who will be diagnosed with prostate cancer in their lifetime.</p>
    <div>
        Next year, for the fourth year in a row, we’re expecting thousands of workplaces and individuals from across Canada to Go Plaid through donations, fundraising and events.

    </div>
</div>