
<div id="map_header" style="font-size: 30px; color: #009aa6; text-align: left;"><span style="color: #009aa6; font-size: 26px; text-align: left; font-weight: bold;">Welcome to our Run Walk!</span></div>
<div style="text-align: left;">
    <div id="download_text">The NOCC invites you to our 8th Annual Run Walk to Break the Silence on Ovarian Cancer® at 7&nbsp;a.m. ET on Sunday, September 17, 2017 at Westfield Annapolis Mall in Annapolis, MD.</div>
</div>
<div id="download_text">
    <br>
    <div id="download_text">Please join us this year as we take 150 million steps across the country in celebration, remembrance, and support of ovarian cancer fighters everywhere. The steps we take together represent the progress we make towards our goals:</div>
    <ul>
        <li id="sub-text-description"><span> Empowering our community</span></li>
        <li id="sub-text-description"><span>Supporting quality of life initiatives for survivors and caregivers</span></li>
        <li id="sub-text-description"><span>Promoting early awareness so all women know the signs and symptoms</span></li>
        <li id="sub-text-description"><span>Investing in cutting-edge research until we find the cure for ovarian cancer<br></span></li>
        <li id="download_text">Let's join together to take these steps because with action, there is hope!<br><br><br></li>
    </ul>
</div>

