
<div class="span12 text-center">
    <p>
        <img src="https://web.charityengine.net/_transactionServerFiles/812/2015/12/23/logo-footer.png" alt="logo-footer" width="188" height="64">
    </p>
    <p>
        INFO LINE: 888.OVARIAN (888-682-7426)<br>
        DIRECT LINE: 214-273-4200
    </p>
    <p>
        2501 Oak Lawn Avenue, Suite 435<br>
        Dallas, TX 75219
    </p>
    <p>
        EMAIL:  nocc@ovarian.org
    </p>
    <p>
        <a href="http://ovarian.org/about-us/missionvision" class="mainlevel-fm" id="menulink_1-fm" title="about us">
            <span>About us</span>
        </a>
         | 
        <a href="http://ovarian.org/legal-policies" class="mainlevel-fm" id="menulink_2-fm" title="legal policies">
            <span>Legal Policies</span>
        </a>
    </p>
</div>
<div class="footer-right span7"></div>
