<!-- Go to www.addthis.com/dashboard to customize your tools -->

<div class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href class="navbar-brand fs-navbar-brand">
        <img ng-src="{{layout.logo}}" class="img-fluid-vert"
             alt="Logo" />
    </a>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" ng-repeat="button in layout.buttons"
                ng-show="button.enabled">
                <a class="nav-link fs-header-link {{button.cssClass}}"
                   style="color: {{layout.linkColor}}"
                   href="#"
                   contenteditable
                   ng-model="button.text['english']">
                    {{button.text['english']}}
                </a>
            </li>
            <li class="nav-item addthis_share fs-share">

                <a href>
                    <span class="addthis_share_button fs-header-link" style="color: {{layout.linkColor}}" data-service="facebook" data-url="http://www.addthis.com" data-title="Share title"><i class="zmdi zmdi-facebook-box"></i></span>
                    <span class="  addthis_share_button fs-header-link" style="color: {{layout.linkColor}}" data-service="twitter" data-url="http://www.addthis.com" data-title="Share title"><i class="zmdi zmdi-twitter-box"></i></span>
                </a>

            </li>

        </ul>
    </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=firstgiving456"></script>
<script>
    window.onload = function () {
        addthis.share();
    }
</script>
