<div class="fs-hero-overlay"></div>
<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="display-3">Do it for Dads Walk</h1>
        <p class="lead">Sunday, June 18th 2017</p>

        <div class="row justify-content-center">
            <div class="col col-sm-3" ng-repeat="button in layout.buttons"
                 ng-show="button.enabled">
                <button class="btn fs-primary-btn fs-button btn-lg btn-block"
                        contenteditable
                        ng-model="button.text['english']">
                    {{button.text['english']}}
                </button>
            </div>
        </div>
        <div class="row progress-wrap" ng-if="layout.progressBar && layout.progressBar.enabled">
            <div class="col col-sm-3">
                <!--I'm empty inside-->
            </div>
            <div class="col-sm-6">
                <div class="progress-stats ">
                    $76,983 <span class="label">raised</span>
                    <div class="goal float-right">
                        $100,000 <span class="label">goal</span>
                    </div>
                </div>
                <div class="progress fs-button">
                    <div class="progress-bar  fs-primary-btn" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

</div>
