<div style="font-size: 22px; color: #009aa6; text-align: left;">
    <span style="color: #009dbc; font-weight: bold;">Side Bar Content</span>
</div>
<div>Event Location:&nbsp;The Carousel Lot at National Harbor, National Harbor, MD<br>Event Date: Saturday, May 6, 2017</div>
<div>
    <div id="map_header" style="font-size: 22px; color: #009aa6; text-align: left;"><span style="color: #009dbc; font-weight: bold;">Contact Information</span></div>
    <div id="download_text">Email:&nbsp;<a href="mailto:dcmetro@ovarian.org">dcmetro@ovarian.org</a><br>Phone: (240) 752-8752<br>Address: PO Box 41094, Arlington, VA 22204</div>
    <div id="sub-text-description"><span>The mission of the NOCC is to save lives by fighting tirelessly to prevent and cure ovarian <g class="gr_ gr_32 gr-alert gr_gramm gr_run_anim Punctuation only-del replaceWithoutSep" id="32" data-gr-id="32">cancer,</g> and to improve the quality of life for survivors. <a href="http://www.ovarian.org" target="_blank">About Us<br></a></span></div>

</div><div style="font-size: 22px; color: #009aa6; text-align: left;">
    <span style="color: #009dbc; font-weight: bold;">Secure</span>
</div>
