<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-label="Close" ui-sref="fundraising.edit"><span aria-hidden="true">×</span></a>
    <h4 class="modal-title" id="memberModalLabel">Upload an image</h4>
</div>
<div class="modal-body">
    <div class="row" ng-if="!vmAddImage.hasImage">
        <div class="col-sm-6">
            <h4>Change the image on your page</h4>
            <hr />
            <div class="row">
                <div class="col-sm-9">
                    <h5>Upload your own image</h5>
                </div>
                <div class="col-sm-3 text-right">
                    <a class="btn btn-danger btn-block" ng-click="vmAddImage.hasImage= true"><i class="zmdi zmdi-cloud-upload"></i>  Go</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="card cta-card default-background">
                        <h4 class="text-justify">
                            Displaying your own image is definitely the best way to personalise your page.
                            It looks great and reassures potential sponsors that they are in the right place.
                        </h4>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card cta-card default-background">
                <h5> <strong>Current image</strong></h5>
                <a>
                    <img class="sector" ng-src="{{vmAddImage.imageUrl}}" alt="">
                </a>
                <div class="row">
                    <div class="col-sm-12">
                        <h5> <strong>Need Help?</strong></h5>
                        <p>
                            If you are having trouble changing the image on your page image, please visit our help section.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="!vmAddImage.hasImage ">
        <div class="col-sm-12">
            <h4>Select an event images </h4>
            <hr />
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <a class="btn btn-danger btn-block" ng-click="vmAddImage.uploadEventImage()"><i class="zmdi zmdi-cloud-upload"></i> Upload a default event image</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3" ng-repeat="data in vmAddImage.eventImages track by $index">
                    <div class="thumbnail" ng-class="{imageGalery: $index == vmAddImage.selected}">
                        <a class="" ng-click="vmAddImage.imageSelected($index, data)">
                            <img class="sector" style="max-height:100px; max-width: 100px;" ng-src="{{data}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height" ng-if="vmAddImage.hasImage">
        <div flow-init
             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
             flow-name="vmAddImage.imageSelected">
            <div class="col-sm-6 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Change the image on your page</h4>
                        <hr />
                        <span class="btn btn-primary ng-hide" ng-click="vmAddImage.sendImages()" ng-show="$flow.files.length">Save <i class="zmdi zmdi-cloud-upload"></i>  </span>
                        <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">Select image <i class="zmdi zmdi-folder"></i></span>
                        <span class="btn btn-default ng-hide" ng-show="$flow.files.length" flow-btn="" ng-click="$flow.cancel()">Change <i class="zmdi zmdi-folder"></i></span>
                        <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                            Remove <i class="zmdi zmdi-delete"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="card cta-card default-background" ng-show="$flow.files.length">
                    <img class="sector" flow-img="$flow.files[0]" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer-fg">
    <button type="button" ui-sref="fundraising.edit" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>
</div>
