
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #F1F1F1;
}

::-webkit-scrollbar:hover {
    // background-color: rgba(0, 0, 0, 0.09);
    border: 2px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.4);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0,0,0,0.4);
    border-radius: 100px;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 10px;
}

::-webkit-scrollbar-thumb:horizontal:active {
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
