
/*core brand colors*/
$color_light_blue: #D1D7ED;
$color_medium_blue: #19a6df;
$color_dark_blue: #006a98;
$color_navy_blue: #003e5d;
$color_grey: #939598;




$color_light_orange: #F55D3E;
$color_burgundy: #9D1D21;

$color_green: #51B848;

$color_whale: rgb(84, 105, 141);
// use these for secondary actions
$color_light_green: #A3CD3B;
$color_orange: #F47920;

$color_eggplant: #540D6E;
$color_red: #F05D5E;
$color_leather: #564138;
$color_maroon: #5B2333;
$color_darkgreen: #223127;

//
$color_light_grey: lighten($color_grey, 30);
$color_lighter_grey: lighten($color_light_grey, 7);


$white: #fff;
$black_20: rgba(0,0,0,0.2);
$seashell: #f1f1f1;


$color_dark_red: #6D213C;
$color_bright_orange: #FC440F;

$color_eggplant: #540D6E;
