@import "angular-bootstrap-datetimepicker/src/scss/datetimepicker.scss";
@import "angular-ui-grid/ui-grid.scss";
@import "_angular-growl.min.scss";
@import "_variables.scss";
@import "public.scss";
@import "_scrollbars.scss";


.fs-admin {
    font-family: 'Open Sans', sans-serif;

    .sidebar-buttons {
        /*position: fixed;
        bottom: 0;*/
        background: $color_light_grey;
        padding: .5rem .5rem;
    }


    .nav-tabs {
        border: none;

        .btn {
            padding: 3px 9px;
        }

        .nav-item {
            margin-bottom: 0;
        }

        .nav-link {
            border: none;
            text-transform: uppercase;

            &.nav-link {
                background-color: transparent;
                @include transition (all .3s ease);
                @include opacity(.8);
                position: relative;

                &:hover, &.active {
                    @include opacity(1);

                    &:after {
                        content: '';
                        width: 40px;
                        height: 0;
                        border-bottom: 3px solid $color_bright_orange;
                        position: absolute;
                        bottom: 0;
                        left: calc(50% - 20px);
                    }
                }
            }
        }
    }

    .block-header {
        border-bottom: 1px solid $color_grey;
        margin-bottom: -1px;

        h1, h2, h3, h4, h5 {
            margin: 0 0;
            display: inline-block;
        }

        .nav-tabs {
            margin-bottom: -1px; //offset for border
        }
    }


    .hero {
        overflow: hidden;

        .nav-tabs {
            .nav-link {
                color: $white;
            }
        }

        background-color: $color_dark_blue;
        background-image: linear-gradient(-45deg, $color_navy_blue 30%, #000 140%);
        color: #fff;


        .breadcrumb {
            background-color: transparent;
            font-size: .8em;

            .breadcrumb-item {
                a {
                    color: #fff;
                    color: $white-secondary;

                    &.active, &:hover {
                        color: $white;
                    }
                }

                &.active {
                    color: $white;
                }

                &:before {
                    color: $white-secondary;
                }
            }
        }
    }
}

.content-edit-wrap {
    background: $color_light_grey;
    z-index: 4;
    position: relative;
    // padding-top: 20px;
}


.nav-bar-compensation {
    padding-top: 60px;
}

.app-menu, .app-dropdown {
    display: none !important; //hack for compatibility issues
}



///buttons
.btn-outline-white {
    color: $white;
    background-image: none;
    background-color: transparent;
    border-color: $white;
}
// utility
.default-bg {
    background: $color_light_grey; //$color_lighter_grey;
}

.bg-white {
    background: $white;
}

.shadow {
    box-shadow: 0 0 9px rgba(0,0,0,0.36);
}

.end {
    align-self: flex-end;
}

.margin-top-20 {
    margin-top: 20px;
}

.no-padding {
    padding: 0 0 !important;
}

.page-selector {
    text-align: center;
    padding: 20px 0;
    overflow: hidden;

    a {
        i {
            display: block;
            font-size: 3rem;
            @include opacity (.7);
            position: relative;

            &:after {
                content: '';
                border: 1px solid #fff;
                width: 50px;
                height: 1px;
                position: absolute;
                top: -16px;
                left: 4px;
                @include opacity(.7);
            }
        }

        text-transform: uppercase;
        padding: 10px 0;
        display: inline-block;
        width: 100px;
        text-decoration: none;
        border: 1px solid $color_grey;
        border-top-width: 10px;
        background: rgba(255, 255, 255, .1);
        color: $white;
        margin: 0 10px;
        @include transition(all .3s ease);
        position: relative;

        &:before {
            position: absolute;
            content: '';
            border: 1px solid $white;
            width: 1px;
            height: 1px;
            top: -6px;
            right: 4px;
            border-radius: 50%;
            @include opacity(.7);
        }

        span {
            font-size: .8em;
            @include opacity (.7);
        }

        &:hover, &.active, &:active {
            color: $color_navy_blue;

            i, span {
                @include opacity (1);
            }
        }

        &:hover {
            background: rgba(255,255,255,.8);
        }

        &.active, :active {
            border-color: $color_dark_blue;
            background: rgba(255,255,255,.9);

            &:after {
                content: '';
                position: absolute;
                left: calc(50% - 5px);
                bottom: -30px;
                display: inline-block;
                width: 15px;
                height: 15px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                border-top: 1px solid $color_grey;
                border-left: 1px solid $color_grey;
                background-color: $color_light_grey;
            }
        }
    }
}

.sticky-wrapper.is-sticky {
    max-height: 100vh;
    overflow-y: scroll;
}

/*we have double borders as a hack so that its visible no matter what*/
.fs-outline {
}
//ui tree customization

.no-drag .angular-ui-tree-handle {
    cursor: default;
}

.angular-ui-tree {
    margin-bottom: 10px;
    overflow: hidden;

    .ng-hide-add, .ng-hide-remove {
        transition: all 0.3s linear;
    }

    .ng-hide {
        margin-top: -100px;
        //   display: initial !important;
    }

    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 0;
    }

    .btn-group-sm {
        margin-bottom: .5rem;
    }

    .card {
        transition: all .3s;
        margin-bottom: -1px !important;
        border-radius: 0;
        font-size: 14px;

        i.zmdi {
            transition: all .3s;
            color: $color_grey;
        }


        &.open {
            background-color: #fff;
            border-left-color: $color_medium_blue;
            border-left-width: 3px;
        }

        i.zmdi.open {
            transform: rotate(180deg);
        }

        margin-bottom: .5rem;
        background-color: #f4f4f4;

        .card-header.open {
            color: rgb(41, 43, 44);
            background: $color_lighter_grey;
            font-weight: bold;
        }

        .card-header {
            border-bottom: none;
            background: $color_lighter_grey;
            padding: .5rem .5rem;
            border-radius: 0;

            &:not(.open):hover {
                color: #fff;
                background: $color_medium_blue;

                i {
                    color: #fff;
                }
            }
        }

        .card-content {
            padding: .5rem .5rem;
            transition: all .3s;
            overflow: hidden;
        }

        .open {
            .card-header {
                margin-bottom: .75rem;
            }
        }
    }



    .angular-ui-tree-handle {
        font-weight: normal;
    }
}

// end  ui tree customization

button, [ng-click] {
    cursor: pointer;
}

.hide-overflow {
    overflow: hidden;
}

@media (min-width: 576px) {
    .sidebar-fixed {
        max-width: 300px;
    }
}


/////////move to buttons

.btn-round {
    border-radius: 50%;
}

.fs-widget {
    position: relative;
   

    &:hover {
         outline: 1px dashed rgba(255,255,255,.2);
        &:before {
            position: absolute;
            display: block;
            content: '';
            outline: 1px dashed rgba(0,0,0,.2);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
    }

    .btn-edit {
        line-height: 1.75;
        border: 3px solid #fff;
        opacity: .01;
        position: absolute;
        transition: all .3s;
        top: 10px;
        left: 10px;
        background-color: $color_grey;

        &:hover {
            opacity: 1;
            background-color: $color_medium_blue;
        }
    }

    &:hover {
        .btn-edit {
            opacity: .7;

            &:hover {
                opacity: 1;
            }
        }
    }
}
