@import "_util.scss";
@import "lib/angular-ui-tree.css";
@import "_fs_forms.scss";

.fs-custom {
    .fs-wrap {
     //   background-image: linear-gradient(180deg, rgba(233, 243, 255, .81), rgba(233, 243, 255, .81)), url(https://daks2k3a4ib2z.cloudfront.net/5909fc7f818ecc0900827a34/5942a75cb9c7b610c22de743_5919bfdca6ce0e40ed98746a_iStock-624028878-min.jpg);
        //HARDCODED - MOVE TO THEME
    }

    .fs-widget {
        > div {
            padding-bottom: .5rem;
            padding-top: .5rem;
        }
    }



    .jumbotron {
        background: transparent;
        text-align: center;
    }

    .fs-navbar-brand {
        height: 4rem;
    }

    .fs-hero {
        background-position: 50% 50%;
        background-size: cover;
        color: #fff;
        padding: 2rem 0;
        text-shadow: 0px 1px 3px rgba(0,0,0,.6);
        position: relative;
    }

    .fs-hero-overlay {
        position: absolute;
        background-image: linear-gradient(145deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2));
        pointer-events: none;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .fs-button {
        color: #fff;
        border-radius: 100px; //move to theme
    }

    .progress-wrap {
        margin-top: 1rem;
    }

    .progress-stats {
        font-size: 2rem;
        text-align: left;

        span.label {
            font-size: 1rem;
        }

        .goal {
            font-size: 1.5rem;
        }
    }

    .fs-sponors {
        .sponsor-img {
            max-height: 110px;
            width: auto;
        }
    }

    .fs-leaderboard {


        a, a:hover {
            text-decoration: none;
        }
    }

    .fs-leaderboard-avatar {
        /*width: 90px;
        height: 90px;*/
        border-radius: 50%;
        margin: 0 .5rem .5rem;
    }

    .fs-leaderboard-caption {
        width: 100%;

        .progress {
            height: 10px;
        }

        .progress-stats {
            font-size: 1rem;

            .goal {
                font-size: 1rem;
            }

            span.label {
                font-size: .8rem;
            }
        }
    }

    .fs-leaderboard-header {
        display: flex;

        h4 {
            float: left;
            flex-direction: row;
        }



        .view-all {
            flex-direction: row;
            margin-left: auto;
            align-self: flex-end;
        }

        border-bottom: 1px solid;
    }
}
