@import "angular-bootstrap-datetimepicker/src/scss/datetimepicker.scss";
@import "angular-ui-grid/ui-grid.scss";
@import "_angular-growl.min.scss";
@import "_variables.scss";



.fs-admin {
    font-family: 'Open Sans', sans-serif;

    .nav-tabs {
        border: none;

        .btn {
            padding: 3px 9px;
        }

        .nav-item {
            margin-bottom: 0;
        }

        .nav-link {
            border: none;
            text-transform: uppercase;

            &.nav-link {
                background-color: transparent;
                @include transition (all .3s ease);
                @include opacity(.8);
                position: relative;

                &:hover, &.active {
                    @include opacity(1);

                    &:after {
                        content: '';
                        width: 40px;
                        height: 0;
                        border-bottom: 3px solid $color_bright_orange;
                        position: absolute;
                        bottom: 0;
                        left: calc(50% - 20px);
                    }
                }
            }
        }
    }

    .block-header {
        border-bottom: 1px solid $color_grey;
        margin-bottom: -1px;

        h1, h2, h3, h4, h5 {
            margin: 0 0;
            display: inline-block;
        }

        .nav-tabs {
            margin-bottom: -1px; //offset for border
        }
    }


    .hero {
        overflow: hidden;

        .nav-tabs {
            .nav-link {
                color: $white;
            }
        }

        background-color: $color_dark_blue;
        background-image: linear-gradient(-45deg, $color_navy_blue 30%, #000 140%);
        color: #fff;


        .breadcrumb {
            background-color: transparent;
            font-size: .8em;

            .breadcrumb-item {
                a {
                    color: #fff;
                    color: $white-secondary;

                    &.active, &:hover {
                        color: $white;
                    }
                }

                &.active {
                    color: $white;
                }

                &:before {
                    color: $white-secondary;
                }
            }
        }
    }
}


.nav-bar-compensation {
    padding-top: 60px;
}

.app-menu, .app-dropdown {
    display: none !important; //hack for compatibility issues
}



///buttons
.btn-outline-white {
    color: $white;
    background-image: none;
    background-color: transparent;
    border-color: $white;
}
// utility
.default-bg {
    background: $color_light_grey; //$color_lighter_grey;
}

.bg-white {
    background: $white;
}

.shadow {
    box-shadow: 0 0 9px rgba(0,0,0,0.36);
}

.end {
    align-self: flex-end;
}

.margin-top-20 {
    margin-top: 20px;
}

.page-selector {
    text-align: center;
    padding: 20px 0;
    overflow: hidden;

    a {
        i {
            display: block;
            font-size: 3rem;
            @include opacity (.7);
            position: relative;

            &:after {
                content: '';
                border: 1px solid #fff;
                width: 50px;
                height: 1px;
                position: absolute;
                top: -16px;
                left: 4px;
                @include opacity(.7);
            }
        }

        text-transform: uppercase;
        padding: 10px 0;
        display: inline-block;
        width: 100px;
        text-decoration: none;
        border: 1px solid $color_grey;
        border-top-width: 10px;
        background: rgba(255, 255, 255, .1);
        color: $white;
        margin: 0 10px;
        @include transition(all .3s ease);
        position: relative;

        &:before {
            position: absolute;
            content: '';
            border: 1px solid $white;
            width: 1px;
            height: 1px;
            top: -6px;
            right: 4px;
            border-radius: 50%;
            @include opacity(.7);
        }

        span {
            font-size: .8em;
            @include opacity (.7);
        }

        &:hover, &.active, &:active {
            color: $color_navy_blue;

            i, span {
                @include opacity (1);
            }
        }

        &:hover {
            background: rgba(255,255,255,.8);
        }

        &.active, :active {
            border-color: $color_dark_blue;
            background: rgba(255,255,255,.9);

            &:after {
                content: '';
                position: absolute;
                left: calc(50% - 5px);
                bottom: -30px;
                display: inline-block;
                width: 15px;
                height: 15px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                border-top: 1px solid $color_grey;
                border-left: 1px solid $color_grey;
                background-color: $color_light_grey;
            }
        }
    }
}
