@import "angular-bootstrap-datetimepicker/src/scss/datetimepicker.scss";
@import "angular-ui-grid/ui-grid.scss";
@import "_angular-growl.min.scss";
@import "_variables.scss";



.fs-admin {
    .hero {
        background-color: $color_dark_blue;
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.nav-bar-compensation {
    padding-top: 70px;
}

.app-menu {
    display: none !important; //hack for compatability
}
