
<div class="container">
    <div>
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12  col-xs-12 pull-right">
                <div class="purchase-items-checkout">
                    <h2>Order Summary</h2>
                    <div class="row"><br /></div>
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <img class="img-responsive" src="https://placeimg.com/200/200/any" />
                        </div>
                        <div class="col-md-7 col-xs-9">
                            <span class="cart-title">Bed Frames and Mattresses</span><br />
                            Price: $150.00<br />
                            Size: Medium<br />
                            Quantity: 2<br />
                            <a href class="cart-link">edit</a> | <a href class="cart-link">remove</a>

                        </div>
                        <div class="col-md-3 col-xs-3 text-right">
                            <span class="cart-subtotal">$300.00</span>
                        </div>
                        <hr class="col-xs-12" />
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <img class="img-responsive" src="https://placeimg.com/200/180/any" />
                        </div>
                        <div class="col-md-7 col-xs-9">
                            <span class="cart-title">A Different Item</span><br />
                            Price: $100.00<br />
                            Size: Medium<br />
                            Quantity: 3<br /> <a href class="cart-link">edit</a> | <a href class="cart-link">remove</a>

                        </div>
                        <div class="col-xs-3 text-right">
                            <span class="cart-subtotal">$210.00</span>
                        </div>
                        <hr class="col-xs-12" />
                    </div>

                    <div class="row">
                        <!--<div class="col-xs-9">
                            Item Subtotal
                        </div>
                        <div class=" col-xs-3 text-right">
                            $610.00
                        </div>-->
                        <div class="col-xs-9">
                            Shipping
                        </div>
                        <div class=" col-xs-3 text-right">
                            $10.00
                        </div>
                        <div class="col-xs-9">
                            Tax
                        </div>
                        <div class=" col-xs-3 text-right">
                            $31.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <div class="col-xs-9 cart-total">
                                Total
                            </div>
                            <div class=" col-xs-3 text-right cart-total">
                                $651.00
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 pull-left">
                <div class="purchase-items-checkout">
                    <form>
                        <section>
                            <h2>Shipping Information</h2>
                            <fieldset>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <input class="form-control " placeholder="First" autofocus />
                                    </div>
                                    <div class="col-xs-6">
                                        <input class="form-control" placeholder="Last" />
                                    </div>
                                </div>


                                <input class="form-control " placeholder="Street Address" />
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input class="form-control" placeholder="City" />
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control" placeholder="State" />
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control" placeholder="Zip" />
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        <section>
                            <h2>Billing Information</h2>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-2 sm-hidden xs-hidden"></div>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <div class="btn-group btn-group-justified ">
                                            <div class="btn-group" >
                                                <button class="btn btn-default " ng-class="'active'">
                                                    <i class="zmdi zmdi-card btn-icon-lg"></i>
                                                    <small>
                                                        Pay With Credit Card
                                                    </small>
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button class="btn btn-default">
                                                    <i class="zmdi zmdi-paypal btn-icon-lg"></i>
                                                    <small>
                                                        Pay With PayPal
                                                    </small>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 sm-hidden xs-hidden"></div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <input placeholder="Name on Card" type="text" name="CardName" class="form-control" />
                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-xs-12">
                                        <input placeholder="Card number" type="text" name="CardNumber" class="form-control" />
                                    </div>
                                    <div class="col-md-3 col-xs-7">
                                        <input placeholder="MM / YYYY" type="text" name="CardExpiry" class="form-control" />
                                    </div>
                                    <div class="col-md-2 col-xs-5">
                                        <input placeholder="CVC" type="text" name="CardCvc" class="form-control" />
                                    </div>
                                </div>
                                <label>
                                    <input type="checkbox" checked />
                                    Use shipping as billing address
                                </label>

                                <a href class="btn btn-primary btn-block btn-lg">Submit</a>
                                <a class=" btn btn-block btn-link">
                                    Continue Shopping
                                </a>
                            </fieldset>
                        </section>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>
