
<section class="container ">
    <div class="row">
        <div class="col-xs-12">
            <div class="wrap-shadow">
                <h1 class="text-center">Frank's Foundation Summer Camp</h1>
                <!-- Main logo -->
                <!-- -->
                <!-- -->
                <!-- CTA buttons -->
                <div class="cta-buttons-container text-center col-xs-12">

                    <a class="btn btn-primary btn-lg" ui-sref="items">Purchase Items</a>


                    <a class="btn btn-primary btn-lg"
                       href="https://securedev2012a.artezhq.com/registrant/DonationPage.aspx?eventid=27549&langpref=en-CA&Referrer=direct%2fnone">Donate Now</a>

                </div>

                <p>As a not for profit charitable organization, Frank’s Foundation relies on the generosity of individuals, foundations, corporations and community groups to help us provide our summer camping program to children with illnesses who are apart of Frank’s Foundation.</p>
                <p>There are many ways you can make a gift to support Frank’s Foundation Summer Camp:</p>

                <ul>
                    <li>A one time or monthly donation</li>
                    <li>Apply to receive a matching grant from your workplace</li>
                    <li>Give an in kind gift</li>
                    <li>Send a child to camp</li>
                </ul>

                <p>All donations are tax deductible and receipts will be issued for all contributions of $10 or more.</p>
                <p>To mail a cheque our address is as follows:</p>
                <p>
                    Frank’s Foundation
                    <br />215 Spadina Ave
                    <br />Toronto, Ontario M5T 2C7
                </p>

                <p>Charitable Registration Number: 123-1960-RR0001</p>

                <hr />

                <p>Tell your kids they can learn how to survive Summer Camp with these helpful tips!</p>

                <iframe width="100%" height="315" src="https://www.youtube.com/embed/UDCxklsiwpo" frameborder="0" allowfullscreen=""></iframe>
                <!-- -->
                <!-- -->
            </div>
        </div>
    </div>
</section>