<div class="content-edit-wrap margin-top-20">
    <div class="container-fluid">
        <!--<div class="row">
            <div class="fs-admin content-edit-tabs col">
                <header class="block-header">
                    <div class="row">
                        <div class="col">
                            <h5>Event Page</h5>
                            <ul class="nav nav-tabs float-right">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Design</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Content</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
        </div>-->
        <div class="row flex-nowrap ">
            <div class="fs-admin col-md-4 col-12 sidebar-fixed no-padding">
                <ng-include src="'/templates/edit/PageEditSidebar.html'"></ng-include>
            </div>
            <div class="fs-custom col-md col-12 main no-padding">
                <div class="shadow bg-white">
                    <div class="fs-wrap">


                        <div ng-repeat="c in pageVM.layout.content">
                            <content-layout edit="true" layout="c"></content-layout>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

