<div class="content-edit-wrap margin-top-20">
    <div class="container-fluid">
        <div class="row">
            <div class="fs-admin content-edit-tabs col">
                <header class="block-header">
                    <div class="row">
                        <div class="col">
                            <h5>Event Page</h5>
                            <ul class="nav nav-tabs float-right">
                              
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Preview</a>
                                </li>
                         
                                <li class="ml-auto">
                                    <button class="btn btn-outline-secondary">Cancel</button>
                                    <button class="btn btn-outline-primary">Save</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="fs-admin col col-md-2">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Content</a>
                    </li>
                </ul>

                <div ui-tree data-drag-enabled="pageVM.enableRearrange"
                     ng-class="pageVM.enableRearrange ? '' : 'no-drag'">
                    <ol ui-tree-nodes="" ng-model="pageVM.treeLayout" id="tree-root">
                        <li class="card" ng-repeat="node in pageVM.treeLayout" ui-tree-node
                            ng-include="'/templates/edit/layoutManager.html'"
                            data-nodrop-enabled="pageVM.isChildFriendly(node)"
                            ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''">


                        </li>
                    </ol>

                    <small ng-if="pageVM.enableRearrange">
                        Drag and drop widgets to reorder
                    </small>
                    <div class="btn-group-sm">
                        <button class="btn btn-link"
                                ng-click="pageVM.toggleEnableRerrange()">
                            {{pageVM.enableRearrange ? 'Done' : 'Rearrange Widgets'}}
                        </button>
                        <button class="btn btn-outline-primary">
                            Add Widget
                        </button>
                    </div>
                </div>


                <h2>theme</h2>
                <div ng-repeat="(key, value) in pageVM.themeObj"
                     class="">

                    <legend>
                        {{value.displayName || key}}
                    </legend>
                    <section>
                        <div ng-repeat="rule in value.rules">
                            <label>{{rule.property}}</label>
                            <input ng-model="rule.value"
                                   ng-change="pageVM.updateThemePreview();"
                                   required />

                        </div>

                    </section>

                </div>

            </div>


            <div class="fs-custom col col-md-10">
                <div class="shadow bg-white">
                    <div class="fs-wrap">


                        <div ng-repeat="c in pageVM.layout.content">
                            <content-layout layout="c"></content-layout>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

