<div class="content-edit-wrap margin-top-20">
    <div class="container-fluid">
        <div class="row">
            <div class="fs-admin content-edit-tabs col">
                <header class="block-header">
                    <div class="row">
                        <div class="col">
                            <h5>Event Page</h5>
                            <ul class="nav nav-tabs float-right">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Design</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Content</a>
                                </li>
                                <li class="ml-auto">
                                    <button class="btn btn-outline-secondary">Cancel</button>
                                    <button class="btn btn-outline-primary">Save</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="fs-admin col col-md-2">
                <h2>Layout</h2>

                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content angular-ui-tree-handle">
                        {{node.type}}

                        <a class="pull-right btn btn-danger btn-xs" data-nodrag="" ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag="" ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.content">
                        <li ng-repeat="node in node.content" ui-tree-node ng-include="'nodes_renderer.html'">

                        </li>
                    </ol>
                </script>
                <div ui-tree>
                    <ol ui-tree-nodes="" ng-model="data" id="tree-root">
                        <li ng-repeat="node in pageVM.layout.content" ui-tree-node ng-include="'nodes_renderer.html'">


                        </li>
                    </ol>
                </div>


                <h2>theme</h2>
                <div ng-repeat="(key, value) in pageVM.themeObj"
                     class="">

                    <legend>
                        {{value.displayName || key}}
                    </legend>
                    <section>
                        <div ng-repeat="rule in value.rules">
                            <label>{{rule.property}}</label>
                            <input ng-model="rule.value"
                                   ng-change="pageVM.updateThemePreview();"
                                   required />
                            <!--{{rule | json}}-->
                        </div>
                    </section>
                </div>
            </div>
            <div class="fs-custom col col-md-10">
                <div class="shadow bg-white">
                    <div class="fs-wrap">


                        <div ng-repeat="c in pageVM.layout.content">
                            <content-layout layout="c"></content-layout>
                        </div>


                        <!--{{pageVM.layout | json}}-->



                        <div class="btn fs-btn-primary">Le Button</div>
                        <div class="btn fs-btn-primary">Le Button</div>
                        <div class="btn fs-btn-primary">Le Button</div>
                        <a href class="fs-link">Link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

