
<div class="tree-node tree-node-content " id="editor{{node.id}}">

    <div ui-tree-handle
         class="card-header"
         ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''"
         ng-click="pageVM.editWidget(node.id)">
        <div>

            {{node.new ? 'New Widget' : pageVM.availableWidgets[node.type].displayName || 'Unknown'}}

            <span class="pull-right">
                <i ng-hide="pageVM.enableRearrange"
                   class="zmdi zmdi-chevron-down" ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''"></i>

                <i ng-show="pageVM.enableRearrange" class="zmdi zmdi-unfold-more"></i>
            </span>
            <!--ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'zmdi-chevron-up' : '"-->
        </div>
    </div>







    <div class="">
        <form ng-submit="pageVM.committWidget(node)">
            <div ng-if="pageVM.isCurrentEditingWidget(node.id)" class="card-content">
                <div class="form-group" ng-if="node.new">
                    <select autofocus ng-model="node.type" class="form-control" required>
                        <option selected disabled value>- Select Type -</option>
                        <option value="{{k}}"
                                ng-repeat="(k, v) in pageVM.availableWidgets">
                            {{v.displayName}}
                        </option>
                    </select>
                </div>

                <div class="form-group" ng-if="node.logo">
                    <label>Logo</label>
                    <div class="form-group">
                        <img ng-src="{{node.logo}}"
                             class="img-thumbnail" />
                    </div>
                    <div class="btn-group-sm text-right">
                        <a class="btn btn-secondary" ng-click="node.logo='none'">Remove Image</a>
                        <a class="btn btn-secondary">Change Image</a>
                    </div>
                </div>

                <div class="form-group">
                    <legend>Appearance</legend>
                    <label>Background color </label>
                    <color-picker class="" ng-model="node.backgroundColor"
                                  options="pageVM.colorPickerOptions"></color-picker>


                </div>
                <div class="form-group" ng-if="node.linkColor">

                    <label>Background color </label>
                    <color-picker class="" ng-model="node.linkColor"
                                  options="pageVM.colorPickerOptions"></color-picker>


                </div>



                <div class="form-group" ng-if="node.backgroundImage">

                    <!--todo: check rules to see if this node ALLOWS background images rather than has one-->

                    <label>Background Image</label>
                    <a href ng-if="node.backgroundImage==='none'"
                       class="btn btn-secondary btn-block btn-sm">
                        Add Image

                    </a>
                    <div ng-if="node.backgroundImage!=='none'">
                        <div class="form-group">
                            <img class="img-thumbnail" ng-src="{{node.backgroundImage}}" />
                        </div>
                        <div class="btn-group-sm text-right">
                            <a class="btn btn-secondary" ng-click="node.backgroundImage='none'">Remove Image</a>
                            <a class="btn btn-secondary">Change Image</a>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="pageVM.availableWidgets[node.type].sizable">
                    <label>Size</label>
                    <select ng-model="node.size" class="form-control" required>
                        <option selected disabled value>- Select Size -</option>
                        <option value="{{k}}"
                                ng-repeat="(k, v) in pageVM.availableSizes">
                            {{v.displayName}}
                        </option>
                    </select>
                </div>
                <div ng-if="node.progressBar">
                    <legend>Progress Bar</legend>
                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox"
                                   name="enableProgressBar"
                                   ng-model="node.progressBar.enabled"
                                   id="enableProgressBar"
                                   ng-checked="node.progressBar.enabled" />
                            <label for="enableProgressBar">Enable Progress Bar</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox"
                                   name="includeUnverified"
                                   ng-model="node.progressBar.includeUnverified"
                                   id="includeUnverified"
                                   ng-checked="node.progressBar.includeUnverified" />
                            <label for="includeUnverified">Include unverified donations</label>
                        </div>
                    </div>
                </div>
                <div ng-if="node.buttons">
                    <legend>Calls to Action</legend>
                    <div ng-repeat="(key, button) in node.buttons">
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox"
                                       name="{{key}}"
                                       ng-model="button.enabled"
                                       id="{{key}}"
                                       ng-checked="button.enabled" />
                                <label for="{{key}}">Enable {{key}} Button</label>
                            </div>

                            <label>{{key}} Button Text</label>
                            <input ng-model="button.text[pageVM.currentLanguage]" required class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="btn-group-sm text-right">
                    <a class="btn btn-secondary float-left"
                       ng-if="!pageVM.availableWidgets[node.type].required"
                       ng-click="remove(this)">
                        Remove
                    </a>
                    <button class="btn btn-link">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {{node.new ? 'Add' : 'Save'}}
                    </button>
                </div>
            </div>
        </form>
        <ol ui-tree-nodes="" ng-model="node.content" class="card-content"
            ng-show="node.content && node.content.length">
            <li class="card" ng-repeat="node in node.content" ui-tree-node
                data-nodrop-enabled="pageVM.isChildFriendly(node)"
                ng-include="'/templates/edit/layoutManager.html'"
                ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''">

            </li>

        </ol>
        <div class="card-content" ng-show="pageVM.isChildFriendly(node) && pageVM.isCurrentEditingWidget(node.id)">
            <a class=" btn btn-secondary btn-block btn-sm"
               data-nodrag="" ng-click="pageVM.newSubItem(this)">
                <i class="zmdi zmdi-plus"></i> Add Widget
            </a>
        </div>
    </div>
</div>

