<div class="fs-outline fs-widget"
     id="widget{{layout.id}}"
     style="background-color: {{layout.backgroundColor}}"
     ng-class="layout.size == 'sm'? ' col col-sm-4': layout.size == 'md' ? ' col col-sm-8' : layout.size == 'full' ? 'col col-12' : layout.size == 'half' ? ' col col-sm-6' :layout.size == 'lg' ? 'col col-sm-8' :'noop' ">

    <!--todo use available widget-->
    <!--not using a switch because it messes up the markup-->
    <!--the two containers are basically the same at this point, other than the background treatment-->



    <div ng-if="layout.type=='container'">
        <div class="container">
            <div class="row">
                <content-layout edit="edit" language="language" ng-repeat="c in layout.content" layout="c"></content-layout>

            </div>
        </div>
    </div>
    <div ng-if="layout.type=='container-fluid'" class="container-fluid">
        <div class="row">
            <div ng-repeat="c in layout.content">

                <content-layout edit="edit" language="language" layout="c"></content-layout>
            </div>
        </div>
    </div>
    <div ng-if="layout.type=='hero'"
         class="fs-hero"
         style="background-image: url({{layout.backgroundImage}}); ">
        <ng-include src="'/templates/edit/sample/hero.html'"></ng-include>
    </div>
    <div ng-if="layout.type=='header'"
         style="">

        <ng-include src="'/templates/edit/sample/header.html'"></ng-include>

    </div>

    <footer class="footer" ng-if="layout.type=='footer'">
        <div class="container">
            <ng-include src="'/templates/edit/sample/footer.html'"></ng-include>
        </div>
    </footer>
    <div ng-if="layout.type=='content'">
        <div>
            <ng-include src="'/templates/edit/sample/'+layout.id+'.html'"></ng-include>
        </div>
    </div>
    <div ng-if="layout.type=='sponsors'" class="fs-sponors">
        <div>
            <ng-include src="'/templates/edit/sample/sponsors.html'"></ng-include>
        </div>
    </div>


    <div ng-if="layout.type=='leaderboard'" class="fs-leaderboard">

        <ng-include src="'/templates/edit/sample/leaderboard.html'"></ng-include>
    </div>
    <div ng-if="layout.type=='donations'" class="fs-leaderboard">

        <ng-include src="'/templates/edit/sample/donations.html'"></ng-include>
    </div>
    <div ng-if="layout.type=='video'">
        <ng-include src="'/templates/edit/sample/video.html'"></ng-include>
    </div>

    <button ng-if="edit"
            ng-click="editWidget(layout.id)"
            class="btn btn-primary btn-round btn-edit">
        <i class="zmdi zmdi-edit"></i>
    </button>
</div>
