<div class="tree-node tree-node-content " id="editor{{node.id}}">
    <div ui-tree-handle
         class="card-header"
         ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''"
         ng-click="pageVM.editWidget(node.id)">
        <div>
            {{node.type}}
            <span class="pull-right">
                <i ng-hide="pageVM.enableRearrange"
                   class="zmdi zmdi-chevron-down" ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''"></i>

                <i ng-show="pageVM.enableRearrange" class="zmdi zmdi-unfold-more"></i>
            </span>
            <!--ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'zmdi-chevron-up' : '"-->
        </div>
    </div>
    <div class="hide-overflow">
        <div ng-if="pageVM.isCurrentEditingWidget(node.id)" class="card-content">
            <div class="form-group">
                <label>Background color</label>
                <input ng-model="node.backgroundColor" autofocus class="form-control" />
            </div>
            <div class="form-group" ng-if="node.size">
                <label>Size</label>
                <input ng-model="node.size" class="form-control" />
            </div>
            <div class="btn-group-sm text-right">
                <a class="btn btn-secondary " ng-click="remove(this)">
                    Remove
                </a>
                <a class=" btn btn-secondary "
                   ng-show="pageVM.isChildFriendly(node)"
                   data-nodrag="" ng-click="newSubItem(this)">
                    Add Widget
                </a>
            </div>
        </div>

        <ol ui-tree-nodes="" ng-model="node.content" class="card-content"
            ng-show="node.content && node.content.length">
            <li class="card" ng-repeat="node in node.content" ui-tree-node
                data-nodrop-enabled="pageVM.isChildFriendly(node)"
                ng-include="'/templates/edit/layoutManager.html'"
                ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''">

            </li>
        </ol>
    </div>
</div>

