<div class="fs-outline fs-widget"
     ng-class="layout.size == 'sm'? ' col col-sm-4': layout.size == 'md' ? ' col col-sm-8' : layout.size == 'full' ? ' col col-xs-12' : layout.size == 'half' ? ' col col-xs-6' :'noop' ">
    <!--not using a switch because it messes up the markup-->
    <!--the two containers are basically the same at this point, other than the background treatment-->

    <div ng-if="layout.type=='container'" style="background-color: {{layout.backgroundColor}}">
        <div class="container">
            <div class="row">
                <content-layout ng-repeat="c in layout.content" layout="c"></content-layout>

            </div>
        </div>
    </div>
    <div ng-if="layout.type=='container-fluid'" class="container-fluid" style="background-color: {{layout.backgroundColor}}">
        <div class="row">
            <div ng-repeat="c in layout.content">

                <content-layout layout="c"></content-layout>
            </div>
        </div>
    </div>
    <div ng-if="layout.type=='hero'"
         class="fs-hero"
         style="background-image: url({{layout.backgroundImage}});">
        <ng-include src="'/templates/edit/sample/hero.html'"></ng-include>
    </div>
    <div ng-if="layout.type=='header'" style="background-color: {{layout.backgroundColor}}">

        <ng-include src="'/templates/edit/sample/header.html'"></ng-include>

    </div>

    <footer class="footer" ng-if="layout.type=='footer'" style="background-color: {{layout.backgroundColor}}">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    <div ng-if="layout.type=='content'">
        <div style="background-color: {{layout.backgroundColor}}">
            <ng-include src="'/templates/edit/sample/'+layout.id+'.html'"></ng-include>
        </div>
    </div>
    <div ng-if="layout.type=='sponsors'" class="fs-sponors">
        <div style="background-color: {{layout.backgroundColor}}">
            <ng-include src="'/templates/edit/sample/sponsors.html'"></ng-include>
        </div>
    </div>


    <div ng-if="layout.type=='leaderboard'" class="fs-leaderboard" style="background-color: {{layout.backgroundColor}}">

        <ng-include src="'/templates/edit/sample/leaderboard.html'"></ng-include>
    </div>
</div>
