<div class="row">
    <div class=" col page-selector">

        <a ui-sref-active="active"
           ui-sref="pages({page:'event'})">
            <i class="zmdi zmdi-calendar-check"></i>
            <span>
                Event
            </span>
        </a>
        <a ui-sref-active="active"
           ui-sref="pages({page:'location'})">
            <i class=" zmdi zmdi-pin">
            </i>
            <span>
                Location
            </span>
        </a>


        <!--<a href
           ng-click="pageVM.toggleActivePage('team')">
            <i class="zmdi zmdi-accounts-alt"></i>
            <span>
                Team
            </span>
        </a>
        <a href>
            <i class="zmdi zmdi-account-circle"></i>
            <span>
                Individual
            </span>
        </a>
        <a href>
            <i class="zmdi zmdi-shield-check"></i>
            <span>
                Donation
            </span>
        </a>
        <a href>
            <i class="zmdi zmdi-thumb-up"></i>
            <span>
                Thank You
            </span>
        </a>-->
    </div>
</div>
    