

<div hl-sticky="" class="sticky-wrapper ">
    <div hl-sticky="">
        <div class="sidebar-buttons text-right">
            <ul class="nav nav-tabs float-left">
                <li class="nav-item">
                    <a class="nav-link" href="#">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Content</a>
                </li>
            </ul>
            <button class="btn btn-link btn-sm">Cancel</button>

            <button class="btn btn-outline-primary btn-sm">Save</button>
            <!--<ul class="nav nav-tabs text-right">

                <li class="nav-item">
                    <a class="nav-link" href="#">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Content</a>
                </li>

            </ul>-->
        </div>

    </div>



    <div ui-tree data-drag-enabled="pageVM.enableRearrange"
         ng-class="pageVM.enableRearrange ? '' : 'no-drag'">
        <ol ui-tree-nodes="" ng-model="pageVM.treeLayout" id="tree-root">
            <li class="card" ng-repeat="node in pageVM.treeLayout" ui-tree-node
                ng-include="'/templates/edit/layoutManager.html'"
                data-nodrop-enabled="pageVM.isChildFriendly(node)"
                ng-class="pageVM.isCurrentEditingWidget(node.id) ? 'open' : ''">


            </li>
        </ol>

    </div>

    <small ng-if="pageVM.enableRearrange">
        Drag and drop widgets to reorder
    </small>
    <div class="btn-group-sm text-right">
        <button class="btn btn-link"
                ng-click="pageVM.toggleEnableRerrange()">
            {{pageVM.enableRearrange ? 'Done' : 'Rearrange Widgets'}}
        </button>
        <button class="btn btn-outline-primary">
            Add Container
        </button>
    </div>

    <h2>Theme</h2>
    <div ng-repeat="(key, value) in pageVM.themeObj"
         class="">

        <legend>
            {{value.displayName || key}}
        </legend>
        <section>
            <div ng-repeat="rule in value.rules">
                <label>{{rule.property}}</label>
                <input ng-model="rule.value"
                       ng-change="pageVM.updateThemePreview();"
                       required />
            </div>
        </section>
    </div>





</div>
