<div class="form-group css-rule">
    <label>{{rule.property | camelCaseToHuman}}</label> <!--todo enum mapping to display name-->

    <div ng-switch="rule.type">

        <color-picker ng-switch-when="color"
                      ng-model="rule.value"
                      options="pageVM.colorPickerOptions"></color-picker>

        <div ng-switch-when="font-family">
            <ui-select ng-model="rule.value" theme="bootstrap4">
                <ui-select-match placeholder="Find A Font">{{$select.selected.family}}</ui-select-match>
                <ui-select-choices repeat="font.family as font in pageVM.availableFonts">
                    <div>
                        <span style="font-family: '{{font.family}}'">{{font.family}}</span>
                    </div>

                </ui-select-choices>
            </ui-select>

        </div>
        <div ng-switch-when="image">
            <div class="form-group">
                <div class="img-thumbnail" style="height: 50px; background-image: {{rule.value}}">

                </div>

            </div>
            <div class="btn-group-sm text-right">
                <a class="btn btn-secondary" ng-click="rule.value='none'">Remove Image</a>
                <a class="btn btn-secondary">Change Image</a>
            </div>
        </div>

        <input ng-switch-default
               ng-model="rule.value"
               class="form-control"
               required />

        <div ng-repeat="(stateName,stateValue) in rule.states">
            <label>{{(stateName)}} {{rule.property | camelCaseToHuman}}</label>
            <div ng-switch="rule.type">

                <div ng-switch-when="color"
                     class="btn-group-sm">
                    <div class="btn btn-secondary"
                         ng-class=" rule.states[stateName] == pageVM.brighten(rule.value) ? 'active': ''"
                         ng-click="rule.states[stateName] = pageVM.brighten(rule.value)">
                        <div class="fs-swatch pull-left" style="background-color: {{pageVM.brighten(rule.value)}}">

                        </div>
                        Brighten
                    </div>
                    <div class="btn btn-secondary"
                         ng-click="rule.states[stateName] = pageVM.darken(rule.value)"
                         ng-class=" rule.states[stateName] == pageVM.darken(rule.value) ? 'active': ''">
                        <div class="fs-swatch pull-left" style="background-color: {{pageVM.darken(rule.value)}}">


                        </div>
                        Darken
                    </div>
                    <div class="dropdown btn btn-secondary "
                         ng-class=" rule.states[stateName] !== pageVM.darken(rule.value) && rule.states[stateName] !== pageVM.brighten(rule.value) ? 'active': ''">


                        <div class="dropdown-toggle" data-toggle="dropdown">
                            <div class="fs-swatch pull-left" style="background-color: {{rule.states[stateName]}}"></div>
                            Custom
                        </div>


                        <div class="dropdown-menu">
                            <color-picker ng-model="rule.states[stateName]"
                                          options="pageVM.colorPickerOptions"></color-picker>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <input ng-switch-default
               ng-model="rule.states[stateName]"
               class="form-control"
               required />
    </div>
</div>
