<div class="main-content">
    <div class="hero-header"
         style="background-image: url(https://www.firstgiving.com//imaging/banner/d362c234-ade1-4efc-85fb-a1cb8339e959.jpg/1430)">
        <div class="hero-overlay">
            <!--i'm empty-->
        </div>
        <div class="container">
            <div class="row hero-content">
                <div class="col-sm-2">
                    <div class="card">
                        <a href="" class="card-image" style="background-image: url(https://placeimg.com/602/768/people)">

                        </a>
                    </div>
                </div>
                <div class="col-sm-7 hero-sub-content">
                    <h3>
                        Page name <br />
                        <small>
                            Nonprofit Name
                        </small>
                    </h3>


                    <div class="row">
                        <div class="col-xs-4">
                            <h3>
                                $500 <small>Raised</small>

                            </h3>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="text-right">
                                <small class="">
                                    $1,200
                                </small>
                            </h3>
                        </div>

                        <div class="row" vertilize-container>
                            <div class="col-xs-8">
                                <uib-progressbar value="55" vertilize></uib-progressbar>
                            </div>
                            <div class="col-xs-4">
                                <a class="btn btn-primary btn-sm btn-block" vertilize>
                                    Donate
                                </a>
                            </div>
                        </div>
                    </div>





                </div>
                <div class="col-sm-3 text-right">

                    <a href class="btn btn-lg btn-shadow "><i class="zmdi zmdi-email"></i><span class="sr-only">Send Emails</span></a>
                    <a href class="btn btn-lg btn-shadow "><i class="zmdi zmdi-facebook"></i><span class="sr-only">Send Facebook Messages</span></a>

                    <a href class="btn btn-lg btn-shadow "><i class="zmdi zmdi-twitter"></i><span class="sr-only">Tweet Page</span></a>
                </div>

            </div>
        </div>
    </div>
    <uib-tabset template-url="templates/subnavTabs.html">
        <uib-tab heading="Summary">
            <section class="container  content-section">
                <div class="row">
                    hey
                </div>
            </section>
        </uib-tab>
        <uib-tab heading="Edit Page">
            edit
        </uib-tab>
        <uib-tab heading="Donations">
            donations
        </uib-tab>
        <uib-tab heading="Team">
            team
        </uib-tab>
    </uib-tabset>




</div>
