<div class="main-content">
    <div class="hero-header"
         style="background-image: url(https://www.firstgiving.com//imaging/banner/d362c234-ade1-4efc-85fb-a1cb8339e959.jpg/1430)">
        <div class="hero-overlay">
            <!--i'm empty-->
        </div>
        <div class="container">
            <div class="row hero-content">
                <div class="col-sm-2">
                    <div class="card">
                        <a href="" class="card-image" style="background-image: url(https://placeimg.com/602/768/people)">

                        </a>
                    </div>
                </div>
                <div class="col-sm-8 hero-sub-content">
                    <h3>
                        Page name <br />
                        <small>
                            Nonprofit Name
                        </small>
                    </h3>
                    <h3>
                        $500 <small>Raised</small>
                        <small class="pull-right">$1,200</small>
                    </h3>

                    <uib-progressbar value="55"></uib-progressbar>
                </div>
                <div class="col-sm-2">
                    buttons
                </div>
            </div>
        </div>
    </div>
    <uib-tabset template-url="templates/subnavTabs.html">
        <uib-tab heading="Summary">
            <section class="container  content-section">
                <div class="row">
                    hey
                </div>
            </section>
        </uib-tab>
        <uib-tab heading="Edit Page">
            edit
        </uib-tab>
        <uib-tab heading="Donations">
            donations
        </uib-tab>
        <uib-tab heading="Team">
            team
        </uib-tab>
    </uib-tabset>




</div>
