<div class="main-content">
    <section class="container ">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <a href class="card-image" style="background-image: url(https://placeimg.com/602/768/any)">

                            </a>
                            <div class="card-footer">
                                <p><strong>Page Name</strong>
                                </p>
                                <small>
                                    $1,200 raised for Nonprofit Name
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <a href class="card-image" style="background-image: url(https://placeimg.com/602/778/any)">

                            </a>
                            <div class="card-footer">
                                <p><strong>Page Name</strong></p>
                                <small>
                                    $1,200 raised for Nonprofit Name
                                </small>
                            </div>
                        </div>
                    </div><div class="col-lg-4">
    <div class="card">
        <a href class="card-image" style="background-image: url(https://placeimg.com/802/778/any)">

        </a>
        <div class="card-footer">
            <p><strong>Page Name</strong></p>
            <small>
                $1,200 raised for Nonprofit Name
            </small>
        </div>
    </div>
</div>
                </div>
            </div>
            <div class="col-lg-4">
                stats
            </div>
        </div>
    </section>
</div>