body {
  font-family: Open Sans, sans-serif;
  margin: 0; }
  body .navbar-inverse {
    background: #003e5d;
    border-bottom: #003e5d; }
  body .navbar-img {
    width: 140px;
    position: relative;
    top: 10px;
    margin-right: 10px; }
  body .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    transition: all .3s; }
  body .navbar-inverse .navbar-nav > li.active a, body .navbar-inverse .navbar-nav > li.active a:hover, body .navbar-inverse .navbar-nav > li.active a:active {
    background: #006a98; }
  body .navbar-inverse .navbar-nav > li.active a {
    box-shadow: inset 0 -4px 0 #F55D3E; }
  body .card {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px; }
  body .card-image {
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    position: relative; }
  body .card-footer {
    padding: 5px 5px; }
    body .card-footer p {
      margin: 0 0 3px; }
  body .hero-header {
    background-color: #000;
    background-repeat: no-repeat;
    border-bottom: 3px solid #19a6df;
    min-height: 325px;
    position: relative;
    background-size: cover;
    background-position: 50% 50%; }
    body .hero-header .btn-shadow {
      height: 50px;
      width: 50px;
      padding: 0 0;
      line-height: 50px;
      font-size: 36px; }
    body .hero-header .btn-sm {
      padding: 0 0;
      line-height: 20px; }
    body .hero-header small {
      color: #fff !important;
      font-size: 50%; }
    body .hero-header .hero-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7); }
    body .hero-header .hero-content {
      margin-top: 70px;
      color: #fff; }
    body .hero-header hero-sub-content {
      margin-top: 20px; }
  body .main-content {
    margin-top: 50px; }
  body .sidebar-section-title {
    border-bottom: 1px solid #ccc;
    font-size: inherit;
    line-height: 2;
    color: #777; }
  body .content-section {
    padding-top: 20px; }
  body .navbar-subnav {
    background: #F1F1F1; }
    body .navbar-subnav li {
      font-size: 18px;
      margin-right: 20px;
      transition: all .3s; }
      body .navbar-subnav li.active {
        border-bottom: 2px solid #19a6df; }
        body .navbar-subnav li.active a {
          color: #19a6df !important; }
      body .navbar-subnav li a {
        color: #777;
        transition: all .3s;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent; }
        body .navbar-subnav li a:hover, body .navbar-subnav li a:active, body .navbar-subnav li a.active {
          color: #19a6df; }
  body .default-background {
    background: #F1F1F1; }
  body .btn-shadow {
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.2); }
    body .btn-shadow:hover {
      color: #fff;
      background: rgba(0, 0, 0, 0.6); }
  body .btn {
    transition: all .3s; }
  body .text-left {
    text-align: left !important; }

/*# sourceMappingURL=styles.css.map */
