//colors
$color_navy_blue: #003e5d;
$default_background: #F1F1F1;
$color_medium_blue: #19a6df;
$color_white: #fff;
$color_white_trans: rgba(255,255,255,.7);
$color_shadow: rgba(0,0,0,.15);
$color_dark_blue: #006a98;
$color_light_orange: #F55D3E;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;



body {
    font-family: $font_0, $font_1;
    margin: 0;


    .navbar-inverse {
        background: $color_navy_blue;
        border-bottom: $color_navy_blue;
    }

    .navbar-img {
        width: 140px;
        position: relative;
        top: 10px;
        margin-right: 10px;
    }

    .navbar-inverse .navbar-nav > li {
        > a {
            color: $color_white;
            color: $color_white_trans;
            transition: all .3s;
        }

        &.active {
            a, a:hover, a:active {
                background: $color_dark_blue;
            }

            a {
                box-shadow: inset 0 -4px 0 $color_light_orange;
            }
        }
    }

    .card {
        background: $color_white;
        box-shadow: 0 1px 3px $color_shadow;
        margin-bottom: 20px;
    }

    .card-image {
        height: 0;
        padding-bottom: 100%;
        width: 100%;
        display: block;
        background-size: cover;
        position: relative;
    }

    .card-footer {
        padding: 5px 5px;

        p {
            margin: 0 0 3px;
        }
    }


    .hero-header {
        background-color: #000;
        background-repeat: no-repeat;
        border-bottom: 3px solid $color_medium_blue;
        min-height: 325px;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;

        .btn-shadow {
            height: 50px;
            width: 50px;
            padding: 0 0;
            line-height: 50px;
            font-size: 36px;
        }

        .btn-sm {
            padding: 0 0;
            line-height: 20px;
        }

        small {
            color: $color_white !important;
            font-size: 50%;
        }

        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.7);
        }

        .hero-content {
            margin-top: 70px;
            color: $color_white;
        }

        hero-sub-content {
            margin-top: 20px;

            h3 {
            }
        }
    }

    .main-content {
        margin-top: 50px;
    }

    .sidebar {
    }

    .sidebar-section {
    }

    .sidebar-section-title {
        border-bottom: 1px solid #ccc;
        font-size: inherit;
        line-height: 2;
        color: #777;
    }

    .content-section {
        padding-top: 20px;
    }

    .navbar-subnav {
        background: $default_background;

        li {
            font-size: 18px;
            margin-right: 20px;
            transition: all .3s;

            &.active {
                a {
                    color: $color_medium_blue !important;
                }

                border-bottom: 2px solid $color_medium_blue;
            }

            a {
                color: #777;
                transition: all .3s;
                border-top: 2px solid transparent;
                border-bottom: 2px solid transparent;

                &:hover, &:active, &.active {
                    color: $color_medium_blue;
                }
            }
        }
    }

    .default-background {
        background: $default_background;
    }

    .btn-shadow {
        color: #fff;
        color: rgba(255,255,255,.9);
        background: rgba(255,255,255,.2);

        &:hover {
            color: #fff;
            background: rgba(0,0,0,.6);
        }
    }

    .btn {
        transition: all .3s;
    }

    .text-left {
        text-align: left !important;
    }
}
