@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}
<div>
    <div class="fs-admin">
        <div class="hero ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Events <i class="zmdi zmdi-caret-down"></i></a></li>
                <li class="breadcrumb-item active">Polar Plunge 2018</li>
            </ol>
            <div class="container-fluid">

                <header class="block-header">
                    <div class="row">

                        <div class="col d-flex align-items-baseline">
                            <h1 class="float-left">Polar Plunge 2018</h1>

                            <ul class="nav nav-tabs ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Pages</a>
                                </li>
                                <li class="nav-item">
                                    <a href class="btn btn-outline-white"><i class="zmdi zmdi-settings"></i> <i class="zmdi zmdi-caret-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>

                <div ui-view="secondaryNavigation"></div>
            </div>
        </div>
    </div>
    <div class="content-edit-wrap margin-top-20">
        <div class="container-fluid">
            <div class="row">
                <div class="fs-admin content-edit-tabs col">
                    <header class="block-header">
                        <div class="row">
                            <div class="col">
                                <h5>Event Page</h5>
                                <ul class="nav nav-tabs float-right">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Design</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Content</a>
                                    </li>
                                    <li class="ml-auto">
                                        <button class="btn btn-outline-secondary">Cancel</button>
                                        <button class="btn btn-outline-primary">Save</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
