@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}

<div ng-controller="base">
    <div class="fs-admin">
        hero
        <div>
            breadcrumbs

        </div>
    </div>
    <div class="content-edit-wrap">
        <div class="content-edit-tabs">
            edit tabs
        </div>
        <div class="fs-admin">
            left
        </div>
        <div class="fs-custom">
            right

        </div>

    </div>

</div>
