@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EditLayout.cshtml";
}
<div>
    <div class="fs-admin">
        <div class="hero ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Events <i class="zmdi zmdi-caret-down"></i></a></li>
                <li class="breadcrumb-item active">Run Walk to Break the Silence on Ovarian Cancer</li>
            </ol>
            <div class="container-fluid">
                <header class="block-header">
                    <div class="row">
                        <div class="col d-flex align-items-baseline">
                            <h1 class="float-left">Run Walk to Break the Silence on Ovarian Cancer</h1>

                            <ul class="nav nav-tabs ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Settings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Pages</a>
                                </li>
                                <li class="nav-item">
                                    <a href class="btn btn-outline-white"><i class="zmdi zmdi-settings"></i> <i class="zmdi zmdi-caret-down"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>

                <div ui-view="secondaryNavigation"></div>
            </div>
        </div>
    </div>
    <div ui-view="main"></div>
</div>
