@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div ng-controller="home" class="fs-wrap">
    <div ng-repeat="c in layout.content">
        <content-layout language="'english'" layout="c"></content-layout>
    </div>
</div>
